openapi: 3.0.1
info:
  title: adjectives
  description: adjective db
  version: '0.1'
servers:
  - url: http://sentence.dev/api/sentence
    description: Base Path
paths:
  /adjectives:
    get:
      description: List all adjectives
      operationId: listAdjectives
      tags:
        - adjectives
      responses:
        '200':
          description: a list of adjectives with their index
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Adjectives"
              #examples: {"adjectives": [{"id":1,"name":"blue"}]}
    post:
      description: create an adjective
      operationId: createAdjective
      tags:
        - adjectives
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                id:
                  type: integer
            examples:
              '0':
                value: '{"name":"calm"}'
              '1':
                value: '{"id":2}'
      responses:
        '201':
          description: adjective created
          content:
            application/json; charset=utf-8:
              schema:
                type: string
              examples: {}
    delete:
      description: delete an adjective
      operationId: deleteAdjective
      tags:
        - adjectives
      responses:
        '404':
          description: Delete an Adjective
          content:
            application/json; charset=utf-8:
              schema:
                type: string
              examples: {}
  /adjectives/{id}:
    get:
      description: get a specific adjective
      operationId: showAdjectiveById
      tags:
        - adjectives
      parameters:
        - name: id
          in: path
          required: true
          description: id of the adjective to retrieve
          schema:
            type: integer
      responses:
        '200':
          description: Successful
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/Adjective"
              # examples: {"adjectives": [{"id":1,"name":"blue"}]}
components:
  schemas:
    Adjective:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    Adjectives:
      type: array
      items:
        $ref: "#/components/schemas/Adjective"