openapi: 3.0.1
info:
  title: animals
  description: animal db
  version: '0.1'
servers:
  - url: http://sentence.dev/api/ms-animals
    description: Base Path
paths:
  /animals:
    get:
      description: List all animals
      operationId: listAnimals
      tags:
        - animals
      responses:
        '200':
          description: a list of animals with their index
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Animals"
    post:
      description: create a animal
      operationId: createAnimal
      tags:
        - animals
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                id:
                  type: integer
            examples:
              '0':
                value: '{"name":"horse"}'
              '1':
                value: '{"id":4}'
      responses:
        '201':
          description: animal created
          content:
            application/json; charset=utf-8:
              schema:
                type: string
              examples: {}
    delete:
      description: delete a animal
      operationId: deleteAnimal
      tags:
        - animals
      responses:
        '404':
          description: Auto generated using Swagger Inspector
          content:
            application/json; charset=utf-8:
              schema:
                type: string
              examples: {}
  /animals/{id}:
    get:
      description: get a specific animal
      operationId: showAnimalById
      tags:
        - animals
      parameters:
        - name: id
          in: path
          required: true
          description: id of the animal to retrieve
          schema:
            type: integer
      responses:
        '200':
          description: Successful
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/Animal"
components:
  schemas:
    Animal:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    Animals:
      type: array
      items:
        $ref: "#/components/schemas/Animal"